services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend       
    working_dir: /app      
    ports:
      - "8000:8000"        
    env_file:
      - .env              
    depends_on:
      - db 
    restart: on-failure

volumes:
  postgres_data: